@import 'variables/base';
@import 'variables/colors';
@import 'mixins/shadows';
@import 'mixins/title';

.aside {
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: $color-white;
	padding: 30px;
	@include shadow;
}

.logoContainer {
	display: flex;
	flex-direction: column;
	margin-bottom: 60px;

	@include title(#101010);
}

.logoImg {
	width: 100%;
}

.nav {
	list-style: none;
	margin: 0;
	padding: 0;
}

.navItem {
	margin-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ececec;
	cursor: pointer;

	&:hover, & a.active {
		color: #101010;
	}
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto 0 16px;

	&Item {
		margin: 0 5px;
		height: 30px;

		img {
			width: 30px;
			height: 30px;
		}
	}
}