@import 'mixins/title.scss';

.app-container {
	width: 100%;
	height: 100%;
	display: flex;
	overflow: hidden;
}

$aside-width: 23%;

.app-aside {
	width: $aside-width;
}

.app-content {
	width: calc(100% - $aside-width);
	display: flex;
	flex-direction: column;
	overflow: auto;

	@supports (overflow: overlay) {
		overflow: hidden overlay;
	}

	&::-webkit-scrollbar {
		width: 20px;
		height: 4px;
	}

	&::-webkit-scrollbar-track {
		border-radius: 4px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgba(#ececec, 0.2);
		border: 8px solid rgba(0,0,0,0);
		background-clip: padding-box;
		border-radius: 12px;
		min-height: 60px;
	}
}

.app-main {
	flex: 1;
	padding: 32px;
}

.app-footer {
	background-color: #101010;
	padding: 60px;

	@include title();
}
