@import 'global';

html, body, #root {
	height: 100%;
}

body {
  margin: 0;
  font-family: 'Josefin Sans', 'sans-serif';
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: inherit;
}

* {
	box-sizing: border-box;
}
